@{
    ViewBag.Title = "Home Page";
}

<h1>Home</h1>
<div class="box">
    <h1>Current Enviroment : @ViewBag.CurrentEnviroment</h1>
</div>

<environment include="Development">
    <button class="button button-green-back">
        Button
    </button>
</environment>


<environment exclude="Development">
    <button class="button button-blue-back">
        Button
    </button>
</environment>

