

<h1>Home</h1>

@{
    ListModel model = new ListModel
    {
        ListTitle = "Cities",
        Cities = new List<string>
        {
            "Dhaka",
            "Rome",
            "Rajshahi",
            "Chittagong",
            "Phoenix"
        }
    };
}



<div class="box">
    <partial name="_ListPartialView" model="model"></partial>
</div>



@{
    var myViewData = new ViewDataDictionary(ViewData);

    myViewData["ListTitle"] = "Cities";
    myViewData["Cities"] = new List<string>
    {
    "Dhaka",
    "Rome",
    "Rajshahi",
    "Chittagong",
    "Phoenix"
    };
}
<div class="box">
    @*Can supply specific viewdata*@
    @*<partial name="_ListPartialView" view-data="myViewData"></partial>*@
</div>




@*Dynamic content using partial view*@

<button class="button button-blue-back" type="button" id="button-load">
    Load Programming Languages
</button>

<div class="box programming-languages-content">
        
</div>



<script>
    document.querySelector("#button-load").addEventListener("click",async function(){
        var response = await fetch("programming-languages");
         var languages = await response.text();
         document.querySelector(".programming-languages-content").innerHTML = languages;
    });
</script>
