<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/StyleSheet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <div class="page-content">

            <div class="margin-bottom">
                <div class="flex" id="top-bar-div">

                    <div class="flex-1 flex" id="app-title-div">
                        <i class="fa-solid fa-people-simple"></i>
                        <div><img src="~/logo.png" style="width:70px" /></div>

                        <div>
                            <h1>
                                <span style="margin-top : 40px">Contact Manager</span>
                            </h1>
                        </div>


                    </div>

                    <div class="flex-1 pr" id="search-box-div">
                        <div class="navbar account-links">

                            <ul>
                                @if (User.Identity != null && User.Identity.IsAuthenticated)
                                {
                                    <li>
                                        <i class="fa-solid fa-user"></i>
                                        @User.Identity?.Name
                                    </li>
                                    @if(User.IsInRole("Admin"))
                                    {
                                        <li>
                                            <a asp-controller="Home" asp-action="Index" asp-area="Admin">Admin</a>
                                        </li>
                                    }
                                    

                                    <li>
                                        <a asp-controller="Account" asp-action="Logout">Logout</a>
                                    </li>

                                    
                                }
                                else
                                {
                                    @if (ViewBag.Title == "Register")
                                    {
                                        <li>
                                            <a asp-controller="Account" asp-action="Register" class="nav-active">Register</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a asp-controller="Account" asp-action="Register">Register</a>
                                        </li>
                                    }

                                    @if (ViewBag.Title == "Login")
                                    {
                                        <li>
                                            <a asp-controller="Account" asp-action="Login" class="nav-active">Login</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a asp-controller="Account" asp-action="Login"><span>Login</span></a>
                                        </li>
                                    }

                                }


                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div class="navbar mb">

                <ul>
                    @if(ViewBag.Title=="Persons")
                    {
                        <li>
                            <a asp-controller="Persons" asp-action="Index" class="nav-active"><span><h2>Person</h2></span></a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-controller="Persons" asp-action="Index"><span><h2>Person</h2></span></a>
                        </li>
                    }

                    @if (ViewBag.Title == "Upload Countries from Excel")
                    {
                        <li>
                            <a asp-controller="Countries" asp-action="UploadFromExcel" class="nav-active"><span><h2>Upload Countries</h2></span></a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-controller="Countries" asp-action="UploadFromExcel"><span><h2>Upload Countries</h2></span></a>
                        </li>
                    }


                </ul>
            </div>



            <div class="body">
                @RenderBody()
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)

</body>
</html>
