@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title</h2>
<p>
    This is an example of a View Component in ASP.NET Core.
</p>


@* @await Component.InvokeAsync("Grid") *@
@{
    PersonGridModel model= new PersonGridModel
    {
        GridTitle = "Persons",
        People = new List<Person>
        {
            new Person { PersonName = "Nabil", JobTitle = "Software Engineer" },
            new Person { PersonName = "AluVorta", JobTitle = "Project Manager" }
        }
    };
}

<vc:grid grid="model"></vc:grid>