@{
    ViewBag.Title = "Home Page";
}

<h2>Home Page</h2>
<p>
    This is an example of a View Component in ASP.NET Core.
</p>

...................

@{
    // PersonGridModel model = new PersonGridModel
    // {
    //     GridTitle = "Persons",
    //     People = new List<Person>
    //     {
    //         new Person { PersonName = "John Doe", JobTitle = "Software Engineer" },
    //         new Person { PersonName = "Jane Smith", JobTitle = "Project Manager" }
    //     }
    // };
}

<button class="button button-blue-back" id="load-friend-button">
    Load Friends
</button>

<div id="list">

</div>


<script src="~/friends.js"></script>
