@{
    // if (ViewBag.ProductID != null)
    // {
    //     Layout = "~/Views/Shared/_ProductsLayout.cshtml";
    // }
    ViewData["Title"] = "Search";
}

<h1>Search Product</h1>
<p>Use the form below to search for products.</p>
