@{
    ViewData["Title"] = "Contact";
}

<h1>Contact Us</h1>
<p>If you have any questions or need support, please reach out to us.</p>

@* @section sends section to layout view *@

@section footer_contact
{
    <p>Support : 04124094</p>
}