@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    // Default null 

    ViewData["Title"] = "Home";
}


<h1>Welcome to the Home Page</h1>
<p>This is the home page of our ASP.NET Core application.</p>